<%= stylesheet_link_tag "animals", "data-turbo-track": "reload" %>

<%= render "content/menumobile" %>
<div class= "fixed-menu-spacer" >
</div>

<%= render "content/menu" %>

<div class="portraits-title">
  <h1> Animals </h1>
</div>
<div class="container" >

  <div class="gallery-container c-4 r-3">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/PHKxLBck/1-min-1280.webp', alt: 'portraits' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-2 r-3">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/pPKnk6gC/2-min-1280.webp', alt: 'weddings' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/xYdMYgzj/3-min-1280.webp', alt: 'family' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/0vnDLhrH/5-min-1280.webp', alt: 'landscape' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/9CrMgnqT/4-min-1280.webp', alt: 'animals' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/LmPs2gD8/6-min-1280.webp', alt: 'nature' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/FNdSkRp2/8-min-1280.webp', alt: 'nature' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/2k0k2Qk2/7-min-1280.webp', alt: 'nature' %>
      </div>
    </div>
  </div>
</div>
