<%= stylesheet_link_tag "animals", "data-turbo-track": "reload" %>

<%= render "content/menumobile" %>
<div class= "fixed-menu-spacer" >
</div>

<%= render "content/menu" %>

<div class="portraits-title">
  <h1> Animals </h1>
</div>
<div class="container" >

  <div class="gallery-container c-4 r-3">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/D7QxL2JC/1-min.webp', alt: 'portraits' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-2 r-3">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/TTcchCFF/2-min.webp', alt: 'weddings' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/pvcqDcrt/3-min.webp', alt: 'family' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/cZVhzKf9/5-min.webp', alt: 'landscape' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/TfD72jRv/4-min.webp', alt: 'animals' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/PXJygY6c/6-min.webp', alt: 'nature' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-2">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/bpkgfzTz/8-min.webp', alt: 'nature' %>
      </div>
    </div>
  </div>

  <div class="gallery-container c-3 r-4">
    <div class="gallery-item">
      <div class="image">
        <%= image_tag 'https://i.postimg.cc/FmfGGbkk/7-min.webp', alt: 'nature' %>
      </div>
    </div>
  </div>
</div>
