<%= stylesheet_link_tag "family", "data-turbo-track": "reload" %>

<%= render "content/menumobile" %>
<div class= "fixed-menu-spacer" >
</div>

<div class="page-container" >
  <%= render "content/menu" %>

  <div class="portraits-title">
    <h1> Family </h1>
  </div>
  <div class="container" >

    <div class="gallery-container c-4 r-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/tgz7X1Zq/1.jpg', alt: 'portraits' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-2 r-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/cJd45sDV/2.jpg', alt: 'weddings' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-2">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/qqWvmyYL/3.jpg', alt: 'family' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-4">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/zGZfKwTD/5.jpg', alt: 'landscape' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-4">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/pdvpbQdc/4.jpg', alt: 'animals' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-2">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/WbQdSccv/6.jpg', alt: 'nature' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-2">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/jdJ5D3wk/8.jpg', alt: 'nature' %>
        </div>

      </div>
    </div>

    <div class="gallery-container c-3 r-4">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/XNPq76JC/7.jpg', alt: 'nature' %>
        </div>

      </div>
    </div>
  </div>
</div>
