<%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>

<div id="menu-bar">

  <div class="menu-title">
    <a language="english" href="#home" class="page-part"  >Home</a>
    <a language="hungarian" href="#home" class="page-part"  >Főoldal</a>
  </div>
  <div class="menu-title dropdown">
    <a language="english" href="#portfolio" class="dropbtn page-part" >Portfolio</a>
    <a language="hungarian" href="#portfolio" class="dropbtn page-part" >Galéria</a>
    <div class="dropdown-content">
      <% @portfolio_categories.each do |category|%>
        <a href="/<%=category %>"> <%=category.capitalize() %> </a>
      <% end %>
    </div>
  </div>
  <div class="menu-title dropdown">
    <a language="english" href="#about" class="page-part" >About me</a>
    <a language="hungarian" href="#about" class="page-part" >Rólam</a>
    <div class="dropdown-content" >
      <a language="english" href="#aknowledgements" class="page-part">Aknowledgements</a>
      <a language="hungarian" href="#aknowledgements" class="page-part">Elismerések</a>
    </div>
  </div>
  <div class="menu-title">
    <a language="english" href="#contact" class="page-part" >Contact</a>
    <a language="hungarian" href="#contact" class="page-part" >Kapcsolat</a>
  </div>
  <div class="menu-title" id = "flag">
    <div onclick="changeLanguage()">
      <%= image_tag 'flags/flag-400.png', language: "english", alt: 'Magyar nyelvű oldal', id: 'flag-picture', style: "width: 20%; cursor: pointer"%>
      <%= image_tag 'flags/illustration-uk-flag_53876-18166.webp', language: "hungarian", alt: 'Change to english', id: 'flag-picture', style: "width: 20%; cursor: pointer"%>
    </div>
  </div>
  <div class="social-media-icons menu-title">
    <div >
      <a href="https://www.facebook.com/stellanovakphoto" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div >
      <a href="https://www.instagram.com/nesztiii/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

<script>

function changeLanguage(){
  if (localStorage.getItem("language") == "hungarian"){
        localStorage.setItem("language", "english");
  } else {
        localStorage.setItem("language", "hungarian");
  }
  location.reload();
}

</script>
