<%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>
<div id="menu-button-line">
  <div class="icon" onclick="openMenuBar()" id="menu-button">
      <i class="fa fa-bars" id="menu-icon"></i><span language="english" class="menu-button-title" id="menu-title-id"> Menu</span><span language="hungarian" class="menu-button-title" id="menu-title-id"> Menü</span>
  </div>

</div>

<div id="sidenav">

  <span class="close-navbar" onclick="closeMenuBar()">×</span>

  <a language="english" href="#home" class="page-part" onclick="closeMenuBar()" >Home</a>
  <a language="hungarian" href="#home" class="page-part" onclick="closeMenuBar()" >Főoldal</a>
  <button class="dropdown-btn" id="portfolio-dropdown">
    <span class="dropbtn page-part dropdown-span" id="portfolio-dropdown-title">Portfolio</span>
    <i class="fa fa-caret-down" id="portfolio-dropdown-caret"></i>
  </button>
  <div class="dropdown-container">
    <% @portfolio_categories.each do |category|%>
      <a href="/<%=category %>"> <%=category.capitalize() %> </a>
    <% end %>
  </div>
  <a language="english" href="#about" class="page-part" onclick="closeMenuBar()">About me</a>
  <a language="hungarian" href="#about" class="page-part" onclick="closeMenuBar()">Rólam</a>
  <a href="#contact" class="page-part" onclick="closeMenuBar()">Contact</a>
  <div class= "mobile-flag" onclick="setTimeout(changeLanguage, 1000);">
      <%= image_tag 'flags/flag-400.png', language: "english", alt: 'Magyar nyelvű oldal', id: 'flag-picture', style: "width: 15%; cursor: pointer"%>
      <%= image_tag 'flags/illustration-uk-flag_53876-18166.webp', language: "hungarian", alt: 'Change to english', id: 'flag-picture', style: "width: 15%; cursor: pointer"%>
  </div>
  <div class="social-media-icons menu-title">
    <div >
      <a href="https://www.facebook.com/stellanovakphoto" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div >
      <a href="https://www.instagram.com/nesztiii/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>


<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}

var portfolioCaret = document.getElementById("portfolio-dropdown-caret");
var portfolioButtonTitle = document.getElementById("portfolio-dropdown-title");
var portfolioButton = document.getElementById("portfolio-dropdown");
var menuIcon = document.getElementById("menu-icon");
var menuButton = document.getElementById("menu-title-id");
var slideBar = document.getElementById("sidenav");
var rightSide = document.getElementsByClassName("page-container");

function openMenuBar(){
  slideBar.style.transition = "1s";
  slideBar.style.left = "0";
}

function closeMenuBar(){
  slideBar.style.transition = "1s";
  slideBar.style.left = "-17rem";
}

function changeLanguage(){
  if (localStorage.getItem("language") == "hungarian"){
        localStorage.setItem("language", "english");
  } else {
        localStorage.setItem("language", "hungarian");
  }
  location.reload();
}

window.onclick = function(event) {
  if (event.target != slideBar
    && event.target != menuButton
    && event.target != menuIcon
    && event.target != portfolioButton
    && event.target != portfolioButtonTitle
    && event.target != portfolioCaret) {
    closeMenuBar();
  }
}

</script>
