<%= stylesheet_link_tag "content", "data-turbo-track": "reload" %>

<%= render "indexmenumobile" %>
<div class= "fixed-menu-spacer" id="home">
</div>
<div class="page-container">
  <header>
  <%= render "indexmenu" %>
  </header>
  <section>
  <%= image_tag "DSC00961-01.jpeg", alt: "Kids on wedding", id:"kids-wedding" %>
  <div class="canvas">
    <div class="name-title">
      <div class="artist-name"><h1 class="artist-name-header">Stella Novak</h1></div>
      <div class="artist-job"><h2 class="artist-job-header">PHOTOGRAPHER</h2></div>
    </div>

    <div class="impressum">
      @By Cs Marton, 2022
    </div>
  </div>
  </section>
  <section>
  <div id="portfolio" ></div>
  <div >
    <div class="portfolio-title">
      <h1> Portfolio </h1>
    </div>

    <div class="card-holder">
      <div class="grid-item" onclick="location.href='/portraits';">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/tgz7X1Zq/1.jpg', alt: 'portraits' %>
        </div>
        <div class="middle">
          <div class="text">Portraits</div>
        </div>
      </div>
      <div class="grid-item" onclick="location.href='/weddings';">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/cJd45sDV/2.jpg', alt: 'weddings' %>
        </div>
        <div class="middle">
          <div class="text">Weddings</div>
        </div>
      </div>
      <div class="grid-item" onclick="location.href='/family';">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/qqWvmyYL/3.jpg', alt: 'family' %>
        </div>
        <div class="middle">
          <div class="text">Family</div>
        </div>
      </div>
      <div class="grid-item" onclick="location.href='/animals';">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/pdvpbQdc/4.jpg', alt: 'animals' %>
        </div>
        <div class="middle">
          <div class="text">Animals</div>
        </div>
      </div>
      <div class="grid-item" onclick="location.href='/landscape';">
        <div class="image">
          <%= image_tag 'https://i.postimg.cc/zGZfKwTD/5.jpg', alt: 'landscape' %>
        </div>
        <div class="middle">
          <div class="text">Landscape</div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section>
  <div id="about" ></div>
  <div class="about-container">
    <div class="about-text">
      <h1 class="about-me">
        About me
      </h1>
      <article>
      <p>
        <p class="about-line">heeeyooooo</p>
        <br>
        <p class="about-line">I have worked as a photographer for almost 6 years, it's my passion as well as my job. I love catching moments and making them last forever in my pictures.</p>
        <br>
      </p>
      </article>
    </div>
    <div class="about-picture">
      <%= image_tag 'about/20210312_151725_582-01-02.webp', alt: 'Sword lady', id:"sword-lady"%>
    </div>
  </div>
  </section>
  <section>
  <p id="aknowledgements" >a</p>
  <h1 class="aknowledgements-title">
        Aknowledgements
  </h1>
  <div class="aknowledgements-container">
    <div class="aknowledgements-text">
      <article>
        <p class="aknowledgements-line">
          2019 - winner of the Hungarian Photography games in the special "moments" cathergory
        </p>
      </article>
    </div>
    <div class="aknowledgements-picture">
      <%= image_tag 'https://i.postimg.cc/jdJ5D3wk/8.jpg', alt: 'hugging a cat', id:"hugging-cat"%>
    </div>
  </div>

  <div class="aknowledgements-container">
    <div id="left-picture" class="aknowledgements-picture">
      <%= image_tag 'aknowledgements/9acb36_6eb66952eacf4a318e62361aef9334c2_mv2.webp', alt: 'wedding rock'%>
    </div>
    <div class="aknowledgements-text">
      <article>
        <p class="aknowledgements-line">
          2021 - "Just married"- picture selected into the official album of Hungary 365 photography contest (the biggest contest in Hungary powered by the government)
        </p>
      </article>
    </div>
  </div>
  </section>

  <section>
  <div id="contact" ></div>
  <div class="contact-container">
    <div class="contact-text">
      <h1 class="contact-header">
        Contact
      </h1>
      <div id="contact-title">
        <p>
          Stella Novak
        </p>
        <p>
          Photographer
        </p>
        <p>
          based in Amsterdam
        </p>
      </div>
      <div id="contact-info">
        <p>
          Email: info@stellanovak.com
        </p>
        <p>
          Phone: 123-456-7890
        </p>
        <p>
          Or reach out to me on instagram or facebook
        </p>
      </div>
    </div>
  </div>
  </section>



</div>
<script>
var menu = document.getElementById("menu-bar");
menu.style.position="fixed";

$(document).ready(function(){
  // Add smooth scrolling to all links
  $(".page-part").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1400, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

</script>
